openapi: 3.0.3
info:
  title: Lifestream API
  description: >
    API abstracting database access to the `lifestream` / `lifestream_locations` /
    `owntracks_unhandled` tables currently shared directly between `lifestream-web`
    and the `Lifestream` Python project. Covers the read and write needs of
    `lifestream-web` (feed, search, maps, and the OwnTracks/Plex ingest webhooks).
  version: "1.0.0"
servers:
  - url: https://api.nicholasavenell.com/v1
    description: Production

tags:
  - name: entries
    description: Feed items (the `lifestream` table)
  - name: locations
    description: Location pings (the `lifestream_locations` and `owntracks_unhandled` tables)

security: []

paths:
  /entries:
    get:
      tags: [entries]
      summary: List feed entries
      description: >
        Paginated feed, ordered by `date_created` ascending unless `after` is supplied
        (used for polling new items, ordered ascending by `date_updated`).
        Always excludes `source in (tumblr, lastfm)` and entries with a null title.
      operationId: listEntries
      parameters:
        - name: after
          in: query
          description: Return entries updated at or after this time (polling cursor).
          schema:
            type: string
            format: date-time
        - name: from
          in: query
          description: Return entries created at or after this time.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Return entries created before this time.
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        "200":
          description: A page of entries.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, offset, limit]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entry"
                  total:
                    type: integer
                    description: Total number of entries matching the filter, ignoring offset/limit.
                  offset:
                    type: integer
                  limit:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      tags: [entries]
      summary: Create or update a feed entry
      description: >
        Upserts by the unique `(type, systemid)` pair, mirroring the existing
        `addEntry()` helper. If a matching entry exists and `update` is false
        (the default), the request is a no-op.
      operationId: createEntry
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntryInput"
      responses:
        "201":
          description: Entry created or updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "200":
          description: Entry already existed and `update` was false; no changes made.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Entry"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /entries/search:
    get:
      tags: [entries]
      summary: Search feed entries by title
      description: Title `LIKE %q%` match, ordered ascending by `date_created`.
      operationId: searchEntries
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        "200":
          description: Matching entries.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, offset, limit]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Entry"
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"

  /locations:
    get:
      tags: [locations]
      summary: List raw location points in a time range
      operationId: listLocations
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: source
          in: query
          description: Filter to a single source (e.g. `owntracks`, `foursquare`).
          schema:
            type: string
      responses:
        "200":
          description: Location points ordered by timestamp ascending.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Location"
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      tags: [locations]
      summary: Record a location ping
      description: >
        Mirrors the existing `add_location()` helper. If the given source's most
        recent point rounds to the same lat/long (2 decimal places) as this one,
        the request is a no-op and no new row is written.
      operationId: createLocation
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocationInput"
      responses:
        "201":
          description: Location recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "200":
          description: Duplicate of the source's last point; no new row written.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /locations/heatmap:
    get:
      tags: [locations]
      summary: Aggregated location points for heatmap display
      description: >
        Rounds `lat`/`long` to 2 decimal places, groups identical rounded points, and
        returns a count per group, mirroring `generate_location_query()` in
        `fetchNext.php`.
      operationId: getLocationHeatmap
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: source
          in: query
          description: Filter to a single source (e.g. `foursquare`). Omit for all sources.
          schema:
            type: string
      responses:
        "200":
          description: Aggregated heatmap points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HeatmapPoint"
        "400":
          $ref: "#/components/responses/BadRequest"

  /locations/latest:
    get:
      tags: [locations]
      summary: Most recent location point
      operationId: getLatestLocation
      responses:
        "200":
          description: The most recent location point, if any exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "404":
          description: No location points recorded yet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /locations/unhandled:
    post:
      tags: [locations]
      summary: Record an unhandled OwnTracks payload
      description: >
        Mirrors `raw_location_data()` — stores the raw payload for OwnTracks event
        types (e.g. `transition`, `waypoint`) that aren't turned into a `Location`.
      operationId: createUnhandledLocationPayload
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, payload]
              properties:
                type:
                  type: string
                  description: The OwnTracks `_type` field.
                payload:
                  type: object
                  description: The full, unmodified payload as received.
      responses:
        "201":
          description: Payload stored.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [status, message]
      properties:
        status:
          type: integer
        message:
          type: string

    Entry:
      type: object
      required: [type, systemid, source, date_created, date_updated]
      properties:
        type:
          type: string
          description: Entry category, e.g. `twitter`, `steam`, `flickr`, `Media`.
        systemid:
          type: string
          description: Source-system identifier, unique within `type`.
        title:
          type: string
          nullable: true
        source:
          type: string
          description: Human-readable source label, e.g. `Plex`, `Foursquare`.
        url:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
        date_created:
          type: string
          format: date-time
        date_updated:
          type: string
          format: date-time
        fulldata_json:
          type: object
          nullable: true
          description: Original payload from the source system, as received.

    EntryInput:
      type: object
      required: [type, systemid, title, source, date_created]
      properties:
        type:
          type: string
        systemid:
          type: string
        title:
          type: string
        source:
          type: string
        date_created:
          type: string
          format: date-time
        url:
          type: string
        image:
          type: string
        fulldata_json:
          type: object
          nullable: true
        update:
          type: boolean
          default: false
          description: If true and an entry with this `(type, systemid)` exists, update it.

    Location:
      type: object
      required: [source, lat, long, timestamp]
      properties:
        source:
          type: string
        device:
          type: string
          nullable: true
        lat:
          type: number
          format: double
        long:
          type: number
          format: double
        alt:
          type: number
          nullable: true
        lat_vague:
          type: number
          format: double
        long_vague:
          type: number
          format: double
        accuracy:
          type: integer
          nullable: true
        title:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        fulldata_json:
          type: object
          nullable: true

    LocationInput:
      type: object
      required: [source, lat, long, timestamp]
      properties:
        source:
          type: string
        device:
          type: string
        lat:
          type: number
          format: double
        long:
          type: number
          format: double
        alt:
          type: number
        accuracy:
          type: integer
        title:
          type: string
        icon:
          type: string
        timestamp:
          type: string
          format: date-time
        fulldata_json:
          type: object
          nullable: true

    HeatmapPoint:
      type: object
      required: [lat, long, count]
      properties:
        lat:
          type: number
          format: double
          description: Latitude rounded to 2 decimal places.
        long:
          type: number
          format: double
          description: Longitude rounded to 2 decimal places.
        count:
          type: integer
        title:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
